.table-header {
    background: powderblue
}

.section-bg{
    background: rgb(232,238,248);
}

.slds-popover.slds-nubbin_left-top{
    background: navy;
    color: white;
    left: 150px;
    position: absolute;
}

.household-table-section{
    border: 1px solid skyblue;
}